.sectionTitle {
    font-family: Athelas-Bold;
    font-size: 46px;
    margin-top: 90px;
    margin-bottom: 25px;
    text-align: center;
}
.sectionCaption {
    font-family: Athelas-Bold;
    font-size: 59px;
    line-height: 60px;
    letter-spacing: 1.3px;
}
.sectionSubHeading {
    font-size: 18px;
    opacity: 0.7;
    width: 80%;
    margin-top: 20px;
    letter-spacing: 0.5px;
}