.artSectionTitle {
    font-size: 2.5em;
}
  
.artSectionContent {
    margin-left: 0;
    align-self: center;
    font-family: 'Athelas-Bold';
    /* width: 75%; */
}

.artworkGradientOverlay {
    position: absolute;
    width: 45%;
    top: 5%;
    height: 60%;
    background: linear-gradient(180deg, #379FFF 0%, rgba(55, 159, 255, 0) 100%);
    opacity: 0.3;
    filter: blur(150px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    left: 2%;
}

.artSectionCarouselDesktop {
    display: flex;
    width: 100%;
    height: 100%;
}

.img1 {
    width: 6.5%;
    position: relative;
}
  
.img2 {
    width: 86%;
    margin: 0 7px;
    position: relative;
}
  
.img3 {
    width: 6.5%;
    position: relative;
}
  